@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Skranji:wght@400;700&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

:root {
  --white: #fffcdf;
  --red: #d33905;
}

* {
  color: var(--white);
  text-decoration: none;
}

a,
p {
  text-align: justify;
  font-family: "Skranji", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: max(2vw);
}

ul,
li {
  text-align: justify;
  font-family: "Skranji", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  font-weight: 100;
}

a {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--red);
  border-radius: 10vw;
  max-width: 50vw;
  padding: 1rem 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Caesar Dressing", system-ui;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}

h1,
h2 {
  font-size: 6vw;
  text-align: center;
}

h3 {
  font-size: 1.8vw;
  line-height: normal;
  text-align: center;
}

.hero {
  padding: 5em 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.518), rgba(0, 0, 0, 0.51)),
    url(../images/french-fries.jpeg);
  background-position: center;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-grilled-cheese {
  padding: 5em 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.518), rgba(0, 0, 0, 0.51)),
    url(../images/grilled-cheese.jpg);
  background-position: center;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-asparagus-eggs {
  padding: 5em 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.518), rgba(0, 0, 0, 0.51)),
    url(../images/asparagus-and-eggs.jpeg);
  background-position: center;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max(40vw);
  text-align: justify;
  gap: 2vw;
}
.hero-text p {
  font-size: max(1vw, 20px);
}

ol {
  list-style-type: none;
  padding: 0;
}

@media screen and (max-width: 800px) {
  .hero-text {
    width: min(80vw);
  }

  .recipe-section {
    flex-direction: column;
  }

  a {
    font-size: min(5vw);
  }

  h3 {
    font-size: 6vw;
  }

  .recipe-box a {
    font-size: min(5vw);
  }

  .recipe-box {
    min-width: 5vw;
  }
}
